

/* ==========================================================================
   Gary Bettman needs to get this shit straight
   ========================================================================== */



#counter {width:675px; margin:0 auto; text-align: center;}
.num-item {
	padding:25px 20px;
	width:75px;
	height:50px;
	float:left;
	background:rgba(0,0,0,.7);
	border-radius:5px;
	color:#fff;
	margin:10px;

}
.num {text-align:center; font-size:65px; text-shadow:2px 2px rgba(0,0,0,.9);}
.num-type {text-align:center;margin-top:25px;}


/* twitter stream */
.timeline-header {display:none!important;}
.twitter-timeline {display:none!important;}

.stream {width:655px; margin:0 auto; text-align: center;}
.stream iframe {width:655px; margin:0 auto; float:left; opacity:.7;}

.twButton {float:right; margin-right:140px; padding-top:5px;}

footer { 

	margin-left:145px;
	float:left;
	
} 

.innerCont {display:block; position:relative; top:-350px; margin-top:50%; height:700px;}





		